*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(25, 83, 150);
    color: rgb(10, 82, 104);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding-top: 20px;
}

header{
    background-color: rgb(18, 18, 18);
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

h1{
    font-size: 2.5em;
    letter-spacing: 2px;
}

section{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    padding: 20px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

div{
    margin-bottom: 15px;
}

input[type="number"]{
    padding: 8px;
    margin-right: 10px;
    width: 150px;
    font-size: 1.1em;
    cursor: pointer;
}

input[type="button"]{
    padding: 8px 16px;
    background-color: rgb(34, 30, 30);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    cursor: pointer;
}
input[type="button"]:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
select{
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    margin-top: 10px;
}

footer{
    background-color: rgb(245, 243, 243);
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px;
}

footer{
    background-color: rgb(49, 49, 49);
    color: rgb(25, 26, 26);
    text-align: center;
    width: 100%;
    padding: 20px;
    position: relative;
    margin-top: auto;
}

footer b{
    font-weight: bold;

}
